<header class="l-header">
  <div class="container" style="position: relative;">
    <div class="l-header-content">

      {{#link-to "index" class="l-header-logo__link"}}
        <img src="/images/logo.svg" alt="Linked Comics" class="l-header-logo__img">
      {{/link-to}}

      <a {{action "toggleCart"}} role="button" class="l-header-cart__link">
        <img src="/images/cart.svg" alt="Linked Comics" class="l-header-cart__img">
      </a>

    </div>
    {{#if checkoutCart.isVisible}}
      {{#click-outside action=(action "toggleCart")}}
        {{checkout-cart}}
      {{/click-outside}}
    {{/if}}
  </div>
</header>