<div class="page-comics">
  <h2 class="page-comics-title">The Best Comics</h2>

  <div class="page-comics-container">
    {{#each model as |comic|}}
      {{comic-box comic=comic}}
    {{/each}}
  </div>
</div>